<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
    <form action="#" th:method="POST" th:action="@{/user-create}" th:object="${user}">
        <label for="name">Enter name: </label>
        <label for="lastName">Enter last name: </label>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{name}" id = "name"/>
        <input type="text" th:field="*{lastName}" id = "lastName"/>
        <input type="text" th:field="*{email}" id = "email"/>
        <br/>

        <input type="submit" value="Create">
    </form>
</body>
</html>